
#titleCouponsList {
    font-weight: bold;
}
.couponInfos{
  style="margin: 0 auto;"
}

#titleCouponsList, .detailCoupon, .divCouponsList {
    text-align: center;
}

.divCouponsList {
    margin: 8px;
}

.buttonCoupon {
    // background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    // font-weight: bold;
    font-size: large;
    padding: 20px;
    // border-radius: 5px;
}

.divNoCoupons {
    margin-top: 10%;
    text-align: center;
    color: rgb(172, 172, 172);
}
.coupon-arrow {
    position: relative;
    font-size: 1.2em;
}
