<ion-header>
    <ion-toolbar>
        <ion-title id="titleCouponsList">LISTE DES COUPONS</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item-group *ngFor="let coupon of couponsList" class="divCouponsList">
        <ion-item>
            <ion-button expand="full" fill="outline" color="dark" (click)="setShowAccordion(coupon.code_coupon)"
                class="buttonCoupon">{{coupon.code_coupon}}</ion-button>
        </ion-item>
        <ion-item *ngIf="showAccordion == coupon.code_coupon" class="detailCoupon">
            <div style="margin: 0 auto;">
                <p>{{ coupon.description }}</p>
                <p>Validité : du {{ coupon.date_debut | date:"dd/MM/yyyy" }} au
                    {{ coupon.date_fin | date:"dd/MM/yyyy" }}
                </p>
            </div>
        </ion-item>
    </ion-item-group>
</ion-content>