<ion-content>
  <div class="bg-image"></div>
  <div class="bg-text">
    <img class="gostyle-img" src="../../assets/images/logo-blanc.png">
    <p class="text_logo">QRCODE SCANNER</p>
  </div>
  <div class="content-buttons">
    <ion-button class="button-signin" [routerLink]="['/login']" expand="full" fill="clear">Sign in</ion-button>
    <div class="trait"></div>
    <ion-button class="button-signup" [routerLink]="['/register']" expand="full" fill="clear">Sign up</ion-button>
  </div>
</ion-content>