<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>  -->

<ion-content>

  <div class="bg-color"></div>

  <form class="bg-text" [formGroup]="creationForm" (ngSubmit)="loginUser()">
    <ion-title>SIGN IN</ion-title>
    <ion-item class="item-place">
      <ion-label>Email</ion-label>
      <div class="trait"></div>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item class="item-place">
      <ion-label>Mot de passe</ion-label>
      <div class="trait"></div>
      <ion-input type="password" formControlName="pwd"></ion-input>
    </ion-item>
    <button class="button-login" type="submit" [disabled]="!creationForm.valid">VALIDER</button>
  </form>
</ion-content>
