<ion-app>
  <ion-header *ngIf="!showFooterHeader()">
    <ion-toolbar>
      <div class="spaceBetween">
        <ion-buttons slot="start">
          <ion-back-button class="iconBack" defaultHref="home">

          </ion-back-button>
        </ion-buttons>
        <!--        <ion-icon class="iconHead" name="chevron-back-outline"></ion-icon>-->
        <img src="../../assets/images/logo-blanc.png">
        <ion-icon class="iconHead" name="power-outline"></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content [ngClass]="{'tranparent-bg' : router.url == '/scanner','black-bg' : router.url != '/scanner'}"
    class="ion-padding" *ngIf="router.url != '/scanner'">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

  <ion-footer *ngIf="router.url != '/home'">
    <div class="spaceBetween">
      <ion-icon class="iconFoot" name="home-outline"></ion-icon>
      <ion-icon class="iconFoot" name="scan-outline"></ion-icon>
      <ion-icon class="iconFoot" name="list-outline"></ion-icon>
    </div>
  </ion-footer>
</ion-app>