<ion-app>
  <ion-header *ngIf="!showFooterHeader()">
    <ion-toolbar>
      <div class="spaceBetween">
        <ion-buttons slot="start">
          <ion-back-button class="iconBack" defaultHref="home">

          </ion-back-button>
        </ion-buttons>
        <!--        <ion-icon class="iconHead" name="chevron-back-outline"></ion-icon>-->
        <img src="../../assets/images/logo-blanc.png">
        <ion-icon class="iconHead" name="power-outline"></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content [ngClass]="{'tranparent-bg ' : router.url == '/scanner'}" class="ion-padding">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

  <ion-footer *ngIf="!showFooterHeader()">
    <div class="spaceBetween">
      <ion-icon id="home-footer" [routerLink]="['/home']"class="iconFoot" name="home-outline"></ion-icon>
      <ion-icon id="scanner-footer" [routerLink]="['/scanner']" class="iconFoot" name="scan-outline"></ion-icon>
      <ion-icon id="coupon-list-footer" [routerLink]="['/coupon-list']" class="iconFoot" name="list-outline"></ion-icon>
    </div>
  </ion-footer>
</ion-app>