<ion-content>
  <div class="bg-color"></div>
  <form class="bg-text" [formGroup]="creationForm" (ngSubmit)="createUser()">
    <ion-title>SIGN UP</ion-title>
    <ion-item class="item-place">
      <ion-label id="register-nom">Nom</ion-label>
      <div class="trait"></div>
      <ion-input id="input-nom" type="text" formControlName="nom"></ion-input>
    </ion-item>
    <ion-item class="item-place">
      <ion-label id="register-prenom">Prénom</ion-label>
      <div class="trait"></div>
      <ion-input id="input-prenom" formControlName="prenom"></ion-input>
    </ion-item>
    <ion-item class="item-place">
      <ion-label id="register-email">Email</ion-label>
      <div class="trait"></div>
      <ion-input id="input-email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item class="item-place">
      <ion-label id="regiter-mdp">Mot de passe</ion-label>
      <div class="trait"></div>
      <ion-input id="input-mdp" type="password" formControlName="pwd"></ion-input>
    </ion-item>
    <button id="register-btn-valider" class="button-register" type="submit" [disabled]="!creationForm.valid">VALIDER</button>
  </form>
</ion-content>