<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>
      <div>
        <img src="../../assets/images/logo.png">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img src="../../assets/images/logo.png">
    </ion-toolbar>
  </ion-header>

  <ion-button [routerLink]="['/account']" expand="full" fill="clear" class="menu i1">
    <p class="text-menu">Mon compte</p>
  </ion-button>
  <ion-button [routerLink]="['/coupon-list']" expand="full" fill="clear" class="menu i2">
    <p class="text-menu">Ma liste</p>
  </ion-button>
  <ion-button [routerLink]="['/scanner']" expand="full" fill="clear" class="menu i3">
    <p class="text-menu">Scanner</p>
  </ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title [routerLink]="['/contact']">About|Contact</ion-title>
  </ion-toolbar>
</ion-footer>