<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <img class="logoNoir" src="../../assets/images/logo-blanc.png">
      <ion-icon id="logout-icon" name="power-outline" [routerLink]="['/auth']">
      </ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-button id="account" [routerLink]="['/account']" expand="full" fill="clear" class="menu i1">
    <p class="text-menu">Mon compte</p>
  </ion-button>
  <ion-button id="coupon-list" [routerLink]="['/coupon-list']" expand="full" fill="clear" class="menu i2">
    <p class="text-menu">Ma liste</p>
  </ion-button>
  <ion-button id="scanner" [routerLink]="['/scanner']" expand="full" fill="clear" class="menu i3">
    <p class="text-menu">Scanner</p>
  </ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title [routerLink]="['/contact']">About | Contact</ion-title>
  </ion-toolbar>
</ion-footer>