<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>
      <div>
        <img class="logoBlanc" src="../../assets/images/logo-blanc.png">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img class="logoNoir" src="../../assets/images/logo-blanc.png">
    </ion-toolbar>
  </ion-header>

  <ion-button id="account" [routerLink]="['/account']" expand="full" fill="clear" class="menu i1 text-menu">
    Mon compte
  </ion-button>
  <ion-button id="coupon-list" [routerLink]="['/coupon-list']" expand="full" fill="clear" class="menu i2 text-menu">
    Ma liste
  </ion-button>
  <ion-button id="scanner" [routerLink]="['/scanner']" expand="full" fill="clear" class="menu i3 text-menu">
    Scanner
  </ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title [routerLink]="['/contact']">About|Contact</ion-title>
  </ion-toolbar>
</ion-footer>